<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre chat</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="app">
        <h1>Bienvenue sur le chat</h1>
        <div class="container">
            <div class="channelList">
                <h1>
                    Liste des channels
                </h1>
            </div>

            <div class="msgContainer" id="msgContainer"></div>

        </div>
        <div id="isWritting"></div>
        <form method="POST" id="chatForm">
            <input type="text" id="msgInput" autofocus onkeypress="writting()" onblur="notWritting()">
            <select name="receiver" , id="receiverInput">
                <option value="all"> A tous le monde</option>
                <% users.forEach(user=> {%>
                    <option value="<%= user.pseudo %>">
                        <%= user.pseudo %>
                    </option>
               <% } ); %>
               
            </select>
            <input type="submit" id="btnSend" value="Envoyer">
        </form>
    </div>

</body>
<script src="socket.io/socket.io.js"></script>
<script src="/chat.js"></script>

</html>